.board {
  display: flex;
  justify-content: center;
}

.cell {
  background: #f4f4f4;
  border: 1px solid #7b7b7b;
  height: 45px;
  width: 45px;
  cursor: pointer;

}

/* .upcomingContainer {
  display: flex;
  justify-content: row;
} */
